* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

.overflow-hidden {
  overflow-x: hidden;
}

.card {
  margin-bottom: 180px;
}
@media (max-width: 900px) {
  .card {
    margin-bottom: 20px;
  }
}
.card h3 {
  font-family: "poppins", sans serif;
}
.card .card-text {
  font-family: "poppins", sans serif;
  width: 280px;
}
.card button {
  background-color: rgb(35, 73, 107);
  color: white;
  border-radius: 25px;
  width: 250px;
  margin-bottom: 30px;
}
.card button:hover {
  color: white;
  background-color: #D6B6F1;
}
.card img {
  height: 200px;
}

button {
  height: 50px;
  background-color: rgb(35, 73, 107);
  border-radius: 25px;
  border: none;
  color: white;
}
button:hover {
  background-color: #D6B6F1;
}

header {
  background-color: rgb(35, 73, 107);
  height: 80px;
}
@media (max-width: 986px) {
  header nav {
    background-color: #D6B6F1;
    margin-top: 23px;
  }
}
header nav ul {
  font-family: "poppins", sans serif;
  align-items: center;
}
@media (max-width: 986px) {
  header nav ul li {
    margin-bottom: 5px;
  }
}
header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  height: 100vh;
}
main h2 {
  color: rgb(35, 73, 107);
  margin-bottom: 2rem;
}

section .titulo-seccion {
  font-family: "poppins", sans serif;
  color: rgb(35, 73, 107);
}
section .texto-seccion {
  font-family: "poppins", sans serif;
  font-size: 1.25rem;
}

.z-ind {
  z-index: -1 !important;
}

section h2 {
  color: #D6B6F1;
}

.footer {
  background-color: rgb(35, 73, 107);
  margin-top: 2rem;
  height: 70px;
  margin-top: 50px;
}
.footer a {
  color: white;
  font-size: 1.25rem;
}

.nosotros {
  height: 100vh;
}
.nosotros img {
  max-width: 100%;
}
@media (max-width: 900px) {
  .nosotros img {
    max-width: 100%;
  }
}

.cardservicio {
  background-color: #D6B6F1;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardservicio p {
  color: white;
}

.portfolio-marcas {
  height: 180px;
  width: 180px;
  border-radius: 150px;
}

.portada-porftolio {
  height: 100vh !important;
}

section img {
  height: 500px;
}

@media (max-width: 900px) {
  section img {
    height: 300px;
  }
}
section section form input {
  box-shadow: none;
}

.flex {
  display: flex;
}

@media (max-width: 992px) {
  .flex {
    display: block;
  }
}

.no-deco {
  text-decoration: none !important;
  cursor: pointer !important;
}

.modal-container {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
  box-shadow: 3px -5px 66px -34px rgba(0,0,0,1);

  ;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-header {
  display: flex;
  justify-content: space-around;
  background-color: white;
  color: black;
  width: 100%;
}

.modal-header-title {
  justify-self: start;
}

.modal-content {
  margin-left: 10%;
}


/* SERVICIOS */

.contenedor-servicios {
  display: flex;
  grid-template-columns: repeat (4, 1fr) !important;
}

.servicio {
  text-align: center;
  /* background-color: #D6B6F1; */
  margin: 0.5rem;
  padding: 1rem;
}

.servicio-plan {
  margin-bottom: 0px;
}

.servicio-precio {
  margin-bottom: 20px;
}

/* .servicio-agregar {
  width:;
} */

.imagen-servicio {
  height: 100px;
  border-radius: 20px;
}

/* CARRITO */

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
/* 
.carrito-vacio {
  display: none;
}

.carrito-lleno{
  display: none;
} */

.carrito-servicios {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-servicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D6B6F1;
  padding: 1rem;
  border-radius: 1rem;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.carrito-servicios-imagen {
  width: 4rem;
  border-radius: 1rem;
}

.carrito-servicio-eliminar {
  background-color: transparent;
  color: rgb(59, 50, 50);
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: rgba(35, 73, 107, 0.592);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.carrito-acciones-right {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.carrito-acciones-comprar {
  border: 0;
  background-color: rgb(35, 73, 107);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  cursor: pointer;
   
}

.disabled {
  display: none;
}

.cantidad {
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
