header {
    background-color: $color-primario;
    height: 80px;

    nav {
        @media(max-width:986px) {
            & {
                background-color: $color-secundario;
                margin-top: 23px
            }
        }

        ul {
            font-family: $fuente-principal;
            align-items: center;

            li {
                @media(max-width:986px) {
                    margin-bottom: 5px;
                }

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

}

main {
    height: 100vh;

    h2 {
        color: $color-primario;
        margin-bottom: 2.0rem;
    }
}

section {
    .titulo-seccion {
        font-family: $fuente-principal;
        color: $color-primario;
    }

    .texto-seccion {
        font-family: $fuente-principal;
        font-size: 1.25rem;
    }
}

.z-ind {
    z-index: -1 !important;
}

section {
    h2 {
        color: $color-secundario;
    }
}

.footer {
    background-color: $color-primario;
    margin-top: 2rem;
    height: 70px;
    margin-top: 50px;

    a {
        color: white;
        font-size: 1.25rem;
    }
}