.card {
    margin-bottom: 180px;

    @media(max-width:900px) {
        & {
            margin-bottom: 20px;            
        }
    }

    h3 {
        font-family: $fuente-principal;
    }

    p {
        font-family: $fuente-principal;
        width: 280px;
    }

    button {
        background-color: $color-primario;
        color: white;
        border-radius: 25px;

        &:hover {
            color: white;
            background-color: $hover;
        }
    }

    img {
        // height: 150px;
        // width: 175px;
        height: 200px;
        
    }
}